body {
    font-family: Arial;
    background: #f4f6f9
}

.contenedor {
    display: flex;
    justify-content: center;
    padding: 50px
}

.card {
    background: #fff;
    width: 420px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #999
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px
}

button {
    background: #0d6efd;
    color: #fff;
    border: none
}

#errores {
    color: red
}